*, *::before, *::after { 
  box-sizing: border-box;
}

html, body { 
  height: 100%;
  margin: 0;

  font-family: sans-serif;
}

.chat-app { 
  display: grid;
  grid-template-areas: 
    "error error"
    "users messages"
    "logout outgoing"
  ;
  grid-template-columns: auto 1fr;
  grid-template-rows: auto 1fr auto;
  min-height: 60rem;

  height: 100%;
}

.users-title{
  margin: 1rem 0 1rem 0;
}

.users { 
  grid-area: users;

  padding: 1rem;
  margin: 2rem 0 0rem 2rem;
  text-align: left;

  width: 10rem;
  max-height: 55rem;

  overflow-y: scroll;

  list-style-type: none;
  border: 0.1rem solid black;
  border-radius: 1rem;

  background-color:aliceblue;
}

.user {
  border-top: 0.1rem solid gray;
  padding: 0.5rem 0 0.5rem 0;
}

.chat-error-container {
  grid-area: error;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.messages { 
  grid-area: messages;

  padding: 1rem;
  margin: 2rem 2rem 0 2rem;
  min-width: 20rem;
  width: calc(100% - 4rem);
  max-height: 55rem;

  overflow-y: scroll;
  overflow-x: hidden;
  
  list-style-type: none;

  border: 0.1rem solid black;
  border-radius: 1rem;

  display: flex;
  flex-direction: column-reverse;
}

.logout-button {
  grid-area: logout;
  margin: 1.5rem 0rem 0rem 2rem;
  height: 2rem;
  padding: 0;
  border: 0.1rem solid black;
  border-radius: 1rem;
  background-color: crimson;
}

.username-container { 
  margin: 0 1rem 0 1rem;
  min-height: 2rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.username { 
  margin: 0;
  padding: 0;
  width: 100%;
  overflow-wrap: break-word;
  
}

.message { 
  display: flex;  
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  margin-bottom: 1rem;
}

.sender-info { 
  display: flex;
  flex-direction: row;
  max-width: calc(100% - 1rem);
}

.message-text-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  margin-left: 2rem;
  padding-left: 1rem;
  border-left: 0.1rem solid gray;
  width: 100%;
}

.said-text-container{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 2rem;
}

.message-text { 
  display: inline;
  width: calc(100% - 2rem);
  height: auto;
  margin: 0;
  overflow-wrap: break-word;
  
}


.outgoing { 
  grid-area: outgoing;

  margin: 1rem 2rem 2rem 2rem;
  padding: 0;
  border: 0.1rem solid black;
  border-radius: 1rem;
}


.send-box{
  width: 100%;
  height: 3rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.to-send{
  border: none;
  border-radius: 1rem 0 0 1rem;
  padding: 1rem;
  width: calc(100% - 4rem);
  background-color: lightcyan;
}

.send-button{
  width: 4rem;
  border: none;
  border-left: 0.1rem solid black;
  border-radius: 0 1rem 1rem 0;
}


